/*External CSS file for the project*/

@import url('https://fonts.googleapis.com/css?family=Lato');

html{
  padding: 2%;
  overflow-y: hidden;


}

.text{
  padding: 2%;
}

p{
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: grey;
}

a, dl, dt, dl{
  text-decoration: none;
}
